Repository networkoptix/automation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: robocat:test, workflow_police:test, source_files_compliance:test

Path conditions:
  robocat:test: any of: bots/robocat/**/*, automation_tools/**/*
  workflow_police:test: any of: bots/workflow_police/**/*, automation_tools/**/*
  source_files_compliance:test: any of: nx_source_file_compliance/**/*

Robocat: Add project name as upstream on ProjectManager creation and remove unused function
  automation_tools/tests/mocks/git_mocks.py
  bots/robocat/robocat/project.py
  bots/robocat/robocat/project_manager.py
  bots/robocat/tests/bot_test.py
  bots/robocat/tests/followup_rule_test.py
Due: robocat:test, workflow_police:test

Cleanup repo dir
  nx_source_file_compliance/.gitignore
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/organization_domains.txt
  nx_source_file_compliance/setup.py
  nx_source_file_compliance/test_word_check.py
Due: source_files_compliance:test

INFRA-10: Robocat: Don't ask confirmation for new "good" open-source files if MR is follow-up
  bots/robocat/robocat/rule/open_source_check_rule.py
  bots/robocat/tests/open_source_rule_test.py
Due: robocat:test

Robocat: Fix functional tests
  bots/workflow_police/tests/fixtures.py
  functional_tests/mr_without_open_source_test.py
  functional_tests/test_data/bot_config.yaml
Due: workflow_police:test

INFRA-35: Robocat: Cancel old running pipelines when starting new one
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/pipeline.py
  bots/robocat/tests/mocks/pipeline.py
Due: robocat:test

INFRA-64: Prevent bots from processing Jira Issues related to unsupported Jira Projects
  automation_tools/checkers/checkers.py
  automation_tools/checkers/config.py
  automation_tools/jira.py
  automation_tools/tests/fixtures.py
  automation_tools/tests/mocks/jira.py
  bots/robocat/chart/values.yaml
  bots/robocat/config.yaml
  bots/robocat/robocat/action_reasons.py
  bots/robocat/robocat/app.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/rule/essential_rule.py
  bots/robocat/robocat/rule/workflow_check_rule.py
  bots/robocat/tests/essential_rule_test.py
  bots/workflow_police/chart/values.yaml
  bots/workflow_police/config.yaml
  bots/workflow_police/police/app.py
  functional_tests/test_data/bot_config.yaml
Due: robocat:test, workflow_police:test

Robocat: Fix bug with incorrect Jira Issue keys extraction from WIP Merge Requests
  bots/robocat/robocat/merge_request.py
  bots/robocat/tests/workflow_check_rule_test.py
Due: robocat:test

Robocat: Fix bug with endless commenting of Merge Requests not linked to any valid project
  bots/robocat/robocat/rule/essential_rule.py
Due: robocat:test

Robocat, Police: Add NXLIB to the list of supported projects
  automation_tools/checkers/config.py
  bots/robocat/chart/values.yaml
  bots/robocat/config.yaml
  bots/robocat/tests/essential_rule_test.py
  bots/workflow_police/chart/values.yaml
  bots/workflow_police/config.yaml
  functional_tests/test_data/bot_config.yaml
Due: robocat:test, workflow_police:test

Source File Compliance: Add license and trademark exceptions
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/setup.py
Due: source_files_compliance:test

Update allowed version sets for the MOBILE project
  automation_tools/checkers/config.py
  bots/workflow_police/tests/workflow_checker_test.py
Due: robocat:test, workflow_police:test

Robocat: Fix functional tests
  functional_tests/mr_with_open_source_test.py
  functional_tests/mr_without_open_source_test.py
Due: none

INFRA-62: Robocat: Change pipeline start conditions
  bots/robocat/robocat/merge_request.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/project.py
  bots/robocat/robocat/rule/essential_rule.py
  bots/robocat/tests/essential_rule_test.py
  bots/robocat/tests/mocks/merge_request.py
Due: robocat:test

Robocat: Fix typos in comments
  bots/robocat/robocat/project.py
  bots/robocat/tests/essential_rule_test.py
Due: robocat:test

CI-1679: Improve gitlab ci deployment stages
  .gitlab-ci.yml
Due: none

Allow k8s deployment in case of .gitlab-ci.yml is changed
  .gitlab-ci.yml
Due: none

CI-1677: Change namespace for workflow police gitlab bots
  .gitlab-ci.yml
Due: none

CI-1685: Allow to run deployment from web ui.
  .gitlab-ci.yml
Due: none

Bug fix: Fix folded commands for stop_k8_containers
  .gitlab-ci.yml
Due: none

Robocat: Set default log level to INFO
  bots/robocat/chart/values.yaml
  bots/workflow_police/chart/values.yaml
Due: robocat:test, workflow_police:test

INFRA-66: Robocat: Remove auto-added "Closes <jira_issue_key>" from MR description
  bots/robocat/robocat/merge_request.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/tests/bot_test.py
Due: robocat:test

Remove legacy class "Version"
  automation_tools/jira.py
  automation_tools/utils.py
Due: robocat:test, workflow_police:test

INFRA-67: Robocat: Improve messages informing about workflow violations
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/rule/helpers/open_source_file_checker.py
  bots/robocat/robocat/rule/helpers/statefull_checker_helpers.py
  bots/robocat/robocat/rule/open_source_check_rule.py
  bots/robocat/robocat/rule/workflow_check_rule.py
  bots/robocat/tests/workflow_check_rule_test.py
Due: robocat:test

VMS-30018: Open Source: Add jira/confluence links exception to open source checker
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/setup.py
Due: source_files_compliance:test

INFRA-65: Workflow Police: Refactor checkers initialization
  automation_tools/checkers/checkers.py
  automation_tools/jira.py
  automation_tools/utils.py
  bots/robocat/robocat/app.py
  bots/robocat/robocat/rule/essential_rule.py
  bots/robocat/robocat/rule/workflow_check_rule.py
  bots/workflow_police/chart/values.yaml
  bots/workflow_police/config.yaml
  bots/workflow_police/police/app.py
  bots/workflow_police/tests/fixtures.py
Due: robocat:test, workflow_police:test

INFRA-65: Workflow Police: Return CLOUD issues from "QA" status if changes are not in VMS repo
  automation_tools/checkers/checkers.py
  automation_tools/checkers/config.py
  automation_tools/jira.py
  automation_tools/tests/fixtures.py
  automation_tools/tests/gitlab_constants.py
  automation_tools/tests/jira_constants.py
  automation_tools/tests/mocks/commit.py
  automation_tools/tests/mocks/file.py
  automation_tools/tests/mocks/gitlab.py
  automation_tools/tests/mocks/jira.py
  automation_tools/tests/mocks/merge_request.py
  automation_tools/tests/mocks/pipeline.py
  automation_tools/tests/mocks/project.py
  automation_tools/tests/mocks/user.py
  bots/robocat/robocat/rule/essential_rule.py
  bots/robocat/robocat/rule/workflow_check_rule.py
  bots/robocat/tests/bot_test.py
  bots/robocat/tests/essential_rule_test.py
  bots/robocat/tests/fixtures.py
  bots/robocat/tests/followup_rule_test.py
  bots/robocat/tests/nx_submodule_check_rule_test.py
  bots/robocat/tests/open_source_rule_test.py
  bots/robocat/tests/workflow_check_rule_test.py
  bots/workflow_police/.dockerignore
  bots/workflow_police/README.md
  bots/workflow_police/config.test.yaml
  bots/workflow_police/police/app.py
  bots/workflow_police/requirements.txt
  bots/workflow_police/tests/bot_test.py
  bots/workflow_police/tests/fixtures.py
  bots/workflow_police/tests/workflow_checker_test.py
  scripts/fix_issues_with_new_branch/fix_issues_with_new_branch.py
Due: robocat:test, workflow_police:test

Workflow Police: Add comments to checker classes and explicitly return None if check is successfull
  automation_tools/checkers/checkers.py
Due: robocat:test, workflow_police:test

Add a comment explaining regex parsing links to related Merge Requests in Issue
  automation_tools/jira.py
Due: robocat:test, workflow_police:test

INFRA-83: Robocat: Do not finalize Jira Issues that have "In progress" status
  automation_tools/git.py
  automation_tools/jira.py
  automation_tools/jira_comments.py
  bots/robocat/robocat/award_emoji_manager.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/project_manager.py
  bots/robocat/robocat/rule/followup_rule.py
  bots/robocat/tests/followup_rule_test.py
Due: robocat:test, workflow_police:test

Improve usability of check_open_sources script
  scripts/check_open_sources/check_open_sources.py
  scripts/open_source_check/open_source_check.py
  scripts/readme.md
Due: none

Changed acceptable mobile versions
  automation_tools/checkers/config.py
  automation_tools/tests/mocks/jira.py
  bots/workflow_police/tests/fixtures.py
  bots/workflow_police/tests/workflow_checker_test.py
Due: robocat:test, workflow_police:test

Robocat: Fix nx_submodule check error notification
  bots/robocat/robocat/rule/helpers/statefull_checker_helpers.py
  bots/robocat/robocat/rule/nx_submodule_check_rule.py
  bots/robocat/tests/nx_submodule_check_rule_test.py
Due: robocat:test

Fix phrasing in comments and diagnostic messages
  bots/robocat/robocat/rule/followup_rule.py
  bots/robocat/robocat/rule/workflow_check_rule.py
Due: robocat:test

INFRA-65: Robocat: Finalize CLOUD Issues when the corresponding VMS Merge Request is merged
  bots/robocat/.dockerignore
  bots/robocat/chart/values.yaml
  bots/robocat/config.test.yaml
  bots/robocat/robocat/app.py
  bots/robocat/robocat/rule/followup_rule.py
  bots/robocat/robocat/rule/process_related_projects_issues.py
  bots/robocat/tests/fixtures.py
  bots/robocat/tests/process_related_projects_issues_test.py
Due: robocat:test

VMS-23409: Robocat: Add new paths to OpenSourceCheckRule
  bots/robocat/chart/values.yaml
  bots/robocat/robocat/rule/helpers/open_source_file_checker.py
  functional_tests/test_data/bot_config.yaml
Due: robocat:test

INFRA-85: Refactor source code to make open_source_check.py script independent from Robocat
  bots/robocat/robocat/rule/helpers/open_source_file_checker.py
  nx_source_file_compliance/__init__.py
  nx_source_file_compliance/_generic_repo_check_config.py
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/_vms_check_config.py
  nx_source_file_compliance/setup.py
  scripts/README.md
  scripts/open_source_check/open_source_check.py
  scripts/readme.md
Due: robocat:test, source_files_compliance:test

INFRA-65: Robocat: Fix finalizing Jira Issues with status "Ready to Merge"
  automation_tools/jira.py
  automation_tools/tests/mocks/jira.py
  bots/robocat/tests/followup_rule_test.py
Due: robocat:test, workflow_police:test

CI-1785: Get rid of hardcoded endpoints in configuration
  .gitlab-ci.yml
  automation_tools/tests/mocks/jira.py
  bots/robocat/chart/templates/deployment.yaml
  bots/robocat/chart/values.yaml
  bots/workflow_police/chart/templates/deployment.yaml
  bots/workflow_police/chart/values.yaml
Due: robocat:test, workflow_police:test

Workflow Police: Fix bug in deployment config
  .gitlab-ci.yml
  bots/workflow_police/chart/values.yaml
Due: workflow_police:test

INFRA-84: Robocat: Check commit messages for unwanted text
  automation_tools/tests/gitlab_constants.py
  bots/robocat/robocat/app.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/rule/commit_message_check_rule.py
  bots/robocat/robocat/rule/helpers/approve_rule_helpers.py
  bots/robocat/robocat/rule/helpers/commit_message_checker.py
  bots/robocat/robocat/rule/helpers/open_source_file_checker.py
  bots/robocat/robocat/rule/nx_submodule_check_rule.py
  bots/robocat/robocat/rule/open_source_check_rule.py
  bots/robocat/tests/commit_message_rule_test.py
  bots/robocat/tests/fixtures.py
  nx_source_file_compliance/__init__.py
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/setup.py
  nx_source_file_compliance/test_word_check.py
Due: robocat:test, workflow_police:test, source_files_compliance:test
