Repository networkoptix/automation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: robocat:test, workflow_police:test, source_files_compliance:test, pip:validate:nx_lint:version, pip:nx_lint:deploy

Path conditions:
  robocat:test: any of: bots/robocat/**/*, automation_tools/**/*
  workflow_police:test: any of: bots/workflow_police/**/*, automation_tools/**/*
  source_files_compliance:test: any of: nx_source_file_compliance/**/*
  pip:validate:nx_lint:version: any of: nx_lint/**
  pip:nx_lint:deploy: any of: nx_lint/**, .gitlab-ci.yml

INFRA-683: Remove a documentation link from every robocat message
  automation_tools/jira_comments.py
  bots/robocat/robocat/comments.py
Due: robocat:test, workflow_police:test

Add 26.2 mobile version
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-713: Remove config_check functionality
  bots/robocat/robocat/app.py
  bots/robocat/robocat/bot.py
  bots/robocat/tests/bot_test.py
Due: robocat:test

INFRA-151: Fix approvers assigned comment reason
  bots/robocat/robocat/award_emoji_manager.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/rule/commit_message_check_rule.py
  bots/robocat/tests/commit_message_rule_test.py
Due: robocat:test

INFRA: 720 Update MDS allowed version sets
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-722: Update MDS allowed version sets for the mds_1.0 branch
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-239: Bug - Fix crash when the pipeline configuration section is absent
  bots/robocat/robocat/bot.py
Due: robocat:test

INFRA-239: Bug - Fix NameError while handling a git error
  bots/robocat/robocat/bot.py
Due: robocat:test

INFRA-239: Bug - Check file consistency against the resolved submodule directory
  bots/robocat/robocat/rule/helpers/nx_submodule_checker.py
Due: robocat:test

INFRA-239: Bug - Fix GetSubrepoError construction
  bots/robocat/robocat/rule/helpers/nx_submodule_checker.py
Due: robocat:test

INFRA-239: Bug - Fix crash when an event carries a null mr_previous_data
  bots/robocat/robocat/bot.py
Due: robocat:test

INFRA-239: Bug - Fail follow-up creation for a target branch without a name
  bots/robocat/robocat/merge_request_actions/follow_up_actions.py
Due: robocat:test

INFRA-239: Bug - Do not rewrite notes whose Robocat details cannot be parsed
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/note.py
Due: robocat:test

INFRA-239: Declare the dynamically created rule ExecutionResult members
  bots/robocat/robocat/rule/base_rule.py
  bots/robocat/robocat/rule/commit_message_check_rule.py
  bots/robocat/robocat/rule/essential_rule.py
  bots/robocat/robocat/rule/follow_up_rule.py
  bots/robocat/robocat/rule/job_status_check_rule.py
  bots/robocat/robocat/rule/nx_submodule_check_rule.py
  bots/robocat/robocat/rule/post_processing_rule.py
  bots/robocat/robocat/rule/workflow_check_rule.py
Due: robocat:test

INFRA-239: Fix type checking errors in Robocat
  automation_tools/checkers/config.py
  automation_tools/jira.py
  bots/robocat/robocat/app.py
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/commands/commands.py
  bots/robocat/robocat/commands/parser.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/config.py
  bots/robocat/robocat/gitlab_events.py
  bots/robocat/robocat/merge_request.py
  bots/robocat/robocat/merge_request_actions/follow_up_actions.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/pipeline.py
  bots/robocat/robocat/project.py
  bots/robocat/robocat/project_manager.py
  bots/robocat/robocat/rule/base_rule.py
  bots/robocat/robocat/rule/commit_message_check_rule.py
  bots/robocat/robocat/rule/helpers/approve_rule_helpers.py
  bots/robocat/robocat/rule/helpers/nx_submodule_checker.py
  bots/robocat/robocat/rule/helpers/stateful_checker_helpers.py
  bots/robocat/robocat/rule/job_status_check_rule.py
  bots/robocat/robocat/rule/nx_submodule_check_rule.py
  bots/robocat/robocat/rule/post_processing_rule.py
  bots/robocat/robocat/rule/workflow_check_rule.py
  bots/robocat/tests/bot_test.py
  bots/robocat/tests/commands_test.py
  bots/robocat/tests/fixtures.py
  bots/robocat/tests/follow_up_rule_test.py
  bots/robocat/tests/merge_request_manager_test.py
  bots/robocat/tests/workflow_check_rule_test.py
  requirements.txt
Due: robocat:test, workflow_police:test

INFRA-239: Use the union syntax for the remaining optional annotations
  automation_tools/jira.py
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/config.py
  bots/robocat/robocat/gitlab_events.py
  bots/robocat/robocat/merge_request.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/pipeline.py
  bots/robocat/robocat/project.py
  bots/robocat/robocat/rule/helpers/nx_submodule_checker.py
  bots/robocat/robocat/rule/workflow_check_rule.py
Due: robocat:test, workflow_police:test

INFRA-724: Robocat: Pass the git fetch options as kwargs
  automation_tools/git.py
  automation_tools/tests/mocks/git_mocks.py
  bots/robocat/tests/bot_test.py
Due: robocat:test, workflow_police:test

INFRA-682: Add the pre-commit hooks and drop the pep8 job
  requirements.txt
Due: none

INFRA-725: Robocat: Show follow-up errors verbatim in Jira comments
  automation_tools/jira_comments.py
Due: robocat:test, workflow_police:test

INFRA-727: Add ALLOWED_VERSIONS_SETS for DOCDB
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-729: Make ALLOWED_VERSION_SETS to comply with VMS DB Jira
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test
