Repository networkoptix/automation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: robocat:test, workflow_police:test, source_files_compliance:test

Path conditions:
  robocat:test: any of: bots/robocat/**/*, automation_tools/**/*
  workflow_police:test: any of: bots/workflow_police/**/*, automation_tools/**/*
  source_files_compliance:test: any of: nx_source_file_compliance/**/*

INFRA-163: open_source_check: Add .java and .gradle extensions
  nx_source_file_compliance/_source_file_compliance.py
Due: source_files_compliance:test

INFRA-168: source_file_compliance: Add "@networkoptix/" to blacklist exceptions
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/_version.py
Due: source_files_compliance:test

Update robocat version set config: add 5.1.1 branch, remove 5.0_patch branch options
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

Allow multi-version technical fixes to include 5.1.1
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-165: Introduce coding style check tool
  .gitignore
  nx_lint/nx_lint/__init__.py
  nx_lint/nx_lint/argument_parser.py
  nx_lint/nx_lint/cli.py
  nx_lint/nx_lint/config.py
  nx_lint/nx_lint/constants.py
  nx_lint/nx_lint/file_cache.py
  nx_lint/nx_lint/linter.py
  nx_lint/nx_lint/result_printer.py
  nx_lint/nx_lint/rules/__init__.py
  nx_lint/nx_lint/rules/control_characters.py
  nx_lint/nx_lint/rules/empty_lines.py
  nx_lint/nx_lint/rules/filename.py
  nx_lint/nx_lint/rules/final_newline.py
  nx_lint/nx_lint/rules/rule.py
  nx_lint/nx_lint/rules/tab_characters.py
  nx_lint/nx_lint/rules/trailing_whitespace.py
  nx_lint/nx_lint/rules/unicode_characters.py
  nx_lint/nx_lint/rules/unix_newlines.py
  nx_lint/nx_lint/utils.py
  nx_lint/nx_lint/violation.py
  nx_lint/pinned_requirements.txt
  nx_lint/pyproject.toml
  nx_lint/readme.md
  nx_lint/tests/__init__.py
  nx_lint/tests/conftest.py
  nx_lint/tests/fake_file_cache.py
  nx_lint/tests/test_control_characters.py
  nx_lint/tests/test_empty_lines.py
  nx_lint/tests/test_filename.py
  nx_lint/tests/test_final_newline.py
  nx_lint/tests/test_tab_characters.py
  nx_lint/tests/test_trailing_whitespace.py
  nx_lint/tests/test_unicode_chars.py
  nx_lint/tests/test_unix_newlines.py
  nx_lint/tests/test_utils.py
Due: none

INFRA-174: Add versioning to nx_lint tool
  nx_lint/VERSION
  nx_lint/pyproject.toml
Due: none

INFRA-174: Add nx_lint deployment to local PyPi repository to pipeline
  .gitlab-ci.yml
  .pypirc
Due: none

INFRA-174: Add creation of Docker image for repo consistency checks to pipeline
  .gitlab-ci.yml
  repo_checker_image/Dockerfile
Due: none

Fix comments in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Fix nx_lint validation job rules
  .gitlab-ci.yml
Due: none

INFRA-175: Robocat: Add support for AMS project
  bots/robocat/chart/values.yaml
  bots/robocat/config.test.yaml
Due: robocat:test

nx_lint: Allow command line args to overwrite config
  nx_lint/nx_lint/config.py
Due: none

nx_lint: Don't report CR if it's in a CRLF pair
  nx_lint/nx_lint/rules/control_characters.py
Due: none

nx_lint: Don't use cache while fixing empty lines
  nx_lint/nx_lint/rules/empty_lines.py
Due: none

nx_lint: Use upper-case hex representation
  nx_lint/nx_lint/utils.py
  nx_lint/tests/test_utils.py
Due: none

nx_lint: Update readme.md to match current output format
  nx_lint/readme.md
Due: none

nx_lint: Separate escaping ASCII and Unicode characters
  nx_lint/nx_lint/rules/control_characters.py
  nx_lint/nx_lint/rules/filename.py
  nx_lint/nx_lint/utils.py
  nx_lint/tests/fake_file_cache.py
  nx_lint/tests/test_control_characters.py
  nx_lint/tests/test_utils.py
Due: none

nx_lint: Add apostrophes around prohibited characters
  nx_lint/nx_lint/rules/filename.py
Due: none

nx_lint: Bump version to v1.1.0
  nx_lint/VERSION
Due: none

nx_lint: Update readme.md with installation and git instructions
  nx_lint/readme.md
Due: none

nx_lint: Bump version to v1.1.1
  nx_lint/VERSION
Due: none

INFRA-177: Robocat: Support repo configuration
  automation_tools/tests/test_utils.py
  automation_tools/utils.py
  bots/robocat/robocat/app.py
Due: robocat:test, workflow_police:test

INFRA-190: nx_lint: Only check tracked and staged files
  nx_lint/VERSION
  nx_lint/nx_lint/cli.py
  nx_lint/nx_lint/linter.py
  nx_lint/nx_lint/utils.py
Due: none

INFRA-177: Robocat: Enable rules via configuration
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/rule/__init__.py
  bots/robocat/robocat/rule/base_rule.py
  bots/robocat/robocat/rule/commit_message_check_rule.py
  bots/robocat/robocat/rule/essential_rule.py
  bots/robocat/robocat/rule/follow_up_rule.py
  bots/robocat/robocat/rule/job_status_check_rule.py
  bots/robocat/robocat/rule/nx_submodule_check_rule.py
  bots/robocat/robocat/rule/process_related_projects_issues.py
  bots/robocat/robocat/rule/workflow_check_rule.py
  bots/robocat/tests/fixtures.py
Due: robocat:test

INFRA-191: Robocat: Improve log readability
  bots/robocat/robocat/app.py
Due: robocat:test

INFRA-191: Robocat: Add more verbose logging to functions starting pipelines
  bots/robocat/robocat/merge_request_manager.py
Due: robocat:test

Robocat: Fix typo in class member name
  bots/robocat/robocat/bot.py
Due: robocat:test

INFRA-193: Robocat: Add workaround for GitLab MR approvals race conditions
  automation_tools/mr_data_structures.py
  automation_tools/tests/mocks/merge_request.py
  automation_tools/tests/mocks/project.py
  bots/robocat/robocat/app.py
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/merge_request.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/project.py
  bots/robocat/robocat/rule/essential_rule.py
  bots/robocat/robocat/rule/helpers/approve_rule_helpers.py
  bots/robocat/tests/merge_request_manager_test.py
Due: robocat:test, workflow_police:test

Robocat: Improve logging
  bots/robocat/robocat/merge_request_manager.py
Due: robocat:test

INFRA-180: Deployment: Add possibility to deploy multiple instances of Robocat for different repos
  .gitlab-ci.yml
  bots/robocat/chart/values.yaml
  deployment/inventory-master.yml
  deployment/values.yaml.j2
Due: robocat:test

Workflow Police: Fix deployment
  .gitlab-ci.yml
  deployment/inventory-master.yml
Due: none

INFRA-178: Robocat: Fix bug when pipeline jobs are empty
  bots/robocat/robocat/merge_request_manager.py
Due: robocat:test

Robocat: Set service name to the name of the repo
  bots/robocat/robocat/app.py
Due: robocat:test

Workflow Police, deployment: Add missing environment variable
  .gitlab-ci.yml
  deployment/inventory-master.yml
  deployment/values.yaml.j2
Due: none

Update robocat version set config: add 5.1.2 branch, remove 5.1 branch options
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-200: Robocat: Remove unused config parameter
  bots/robocat/robocat/app.py
Due: robocat:test

INFRA-200: Robocat: Apply repo config
  bots/robocat/robocat/app.py
  bots/robocat/robocat/bot.py
Due: robocat:test

INFRA-200: Add robocat.json
  robocat.json
Due: none

INFRA-200: Robocat: Add deploy stage for dev/automation repo
  .gitlab-ci.yml
Due: none

INFRA-200: Robocat: Allow reading config from str
  automation_tools/utils.py
Due: robocat:test, workflow_police:test
