Repository networkoptix/automation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: robocat:test, workflow_police:test, source_files_compliance:test

robocat:test:
  image: python:3.8
  stage: test
  tags:
  - service
  variables:
    ROBOCAT_DIR: bots/robocat
    PYTHONPATH: .
  script:
  - pip3 install -r $ROBOCAT_DIR/requirements.txt
  - pytest $ROBOCAT_DIR/tests/ --junitxml=./robocat_ut_result.xml
  artifacts:
    when: always
    reports:
      junit: robocat_ut_result.xml

workflow_police:test:
  image: python:3.8
  stage: test
  tags:
  - service
  variables:
    POLICE_DIR: bots/workflow_police
    PYTHONPATH: .
  script:
  - pip3 install -r $POLICE_DIR/requirements.txt
  - pytest $POLICE_DIR/tests/ --junitxml=./police_ut_result.xml
  artifacts:
    when: always
    reports:
      junit: police_ut_result.xml

source_files_compliance:test:
  image: python:3.8
  stage: test
  tags:
  - service
  variables:
    PYTHONPATH: .
  script:
  - pip3 install pytest==3.5.0
  - pytest ./nx_source_file_compliance/ --junitxml=./source_files_compliance_ut_result.xml
  artifacts:
    when: always
    reports:
      junit: source_files_compliance_ut_result.xml

Robocat: Fix deployment configuration - add port name
  bots/robocat/chart/templates/deployment.yaml
Due: robocat:test

Robocat: Fix condition for running mr check on pipeline event
  bots/robocat/robocat/bot.py
Due: robocat:test

Robocat: Fix exception processing in Bot thread
  bots/robocat/robocat/app.py
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/rule/open_source_check_rule.py
Due: robocat:test

CI-1950: Use fully qulifyed docker image name at gitlab-ci templates
  .gitlab-ci.yml
Due: none

INFRA-98: Add possibility of using comments to control Robocat
  automation_tools/tests/mocks/merge_request.py
  bots/robocat/robocat/award_emoji_manager.py
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/commands/commands.py
  bots/robocat/robocat/commands/parser.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/project_manager.py
  bots/robocat/tests/commands_test.py
  bots/robocat/tests/commit_message_rule_test.py
  bots/robocat/tests/essential_rule_test.py
  bots/robocat/tests/fixtures.py
  bots/robocat/tests/open_source_rule_test.py
Due: robocat:test, workflow_police:test

Robocat: Fix follow-up rule execution for merged Merge Request on user command
  bots/robocat/robocat/bot.py
  bots/robocat/tests/commands_test.py
Due: robocat:test

Roobocat: Rename "serve" coomand to "process" everywhere
  bots/robocat/robocat/commands/commands.py
  bots/robocat/robocat/commands/parser.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/note.py
  bots/robocat/tests/commands_test.py
Due: robocat:test

Robocat: Add universal method to create comments by message_id
  bots/robocat/robocat/award_emoji_manager.py
  bots/robocat/robocat/commands/commands.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_manager.py
Due: robocat:test

INFRA-95: Robocat: Remove comments about open-source errors from OpenSourceCheckRule
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/rule/open_source_check_rule.py
  bots/robocat/tests/bot_test.py
  bots/robocat/tests/open_source_rule_test.py
Due: robocat:test

Robocat: Prevent double execution of follow-up rule
  bots/robocat/robocat/bot.py
  bots/robocat/tests/fixtures.py
Due: robocat:test

Added mobile 22.5 version
  automation_tools/checkers/config.py
  automation_tools/tests/mocks/jira.py
  bots/workflow_police/tests/fixtures.py
  bots/workflow_police/tests/workflow_checker_test.py
Due: robocat:test, workflow_police:test

INFRA-107: Execute follow-up rule only for just merged MRs or by user command `follow-up` for merged MRs
  automation_tools/jira_helpers.py
  bots/robocat/Dockerfile
  bots/robocat/robocat/app.py
  bots/robocat/robocat/award_emoji_manager.py
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/commands/commands.py
  bots/robocat/robocat/commands/parser.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/rule/followup_rule.py
  bots/robocat/robocat/rule/process_related_projects_issues.py
  bots/robocat/robocat/rule/workflow_check_rule.py
  bots/robocat/tests/commands_test.py
  bots/robocat/tests/fixtures.py
  bots/robocat/tests/followup_rule_test.py
  bots/robocat/tests/process_related_projects_issues_test.py
  bots/robocat/tests/workflow_check_rule_test.py
Due: robocat:test, workflow_police:test

INFRA-107: Fix critical bugs
  bots/robocat/robocat/app.py
  bots/robocat/robocat/bot.py
Due: robocat:test

Robocat: Add translation from state_id to state field for Merge Request events
  bots/robocat/robocat/app.py
  bots/robocat/robocat/bot.py
Due: robocat:test

Robocat: Fix bug with cancelling pipelines
  bots/robocat/robocat/merge_request_manager.py
Due: robocat:test

source_file_compliance: Do not check open/requirements.txt file in VMS repo
  nx_source_file_compliance/_vms_check_config.py
Due: source_files_compliance:test

CI-1953: Move bots to AWS
  .gitlab-ci.yml
  bots/robocat/chart/templates/image-pull-secret.yaml
  bots/robocat/chart/templates/statefulset.yaml
  bots/robocat/chart/templates/volumes.yaml
  bots/robocat/chart/values.yaml
  bots/workflow_police/chart/templates/deployment.yaml
  bots/workflow_police/chart/templates/image-pull-secret.yaml
  bots/workflow_police/chart/templates/statefulset.yaml
  bots/workflow_police/chart/templates/volumes.yaml
  bots/workflow_police/chart/values.yaml
  deployment/deployment.yml
  deployment/inventory-master.yml
  deployment/values.yaml.j2
Due: robocat:test, workflow_police:test

Fix MR!230 bugs
  bots/workflow_police/chart/templates/statefulset.yaml
  deployment/values.yaml.j2
Due: workflow_police:test

Fix MR!230 bugs: part 2
  .gitlab-ci.yml
  deployment/values.yaml.j2
Due: none

Bug fix: Update deployment to scale statefulset instead of deployment
  deployment/deployment.yml
Due: none

_source_file_compliance: Fix error in trademark search
  nx_source_file_compliance/_source_file_compliance.py
Due: source_files_compliance:test

source_file_compliance: Add css to known file types and fix minor bugs
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/_version.py
  scripts/open_source_check/open_source_check.py
Due: source_files_compliance:test

Robocat fix lack of disk space
  bots/robocat/chart/values.yaml
Due: robocat:test

INFRA-113: Robocat: Do not set Draft status to MR after check failures
  bots/robocat/robocat/action_reasons.py
  bots/robocat/robocat/award_emoji_manager.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/rule/essential_rule.py
  bots/robocat/tests/bot_test.py
  bots/robocat/tests/essential_rule_test.py
Due: robocat:test

Robocat: Add Igor Kulaychuk to open-source approvers
  bots/robocat/chart/values.yaml
Due: robocat:test

source_file_compliance: Remove "nvidia" from trademarks list
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/_version.py
  nx_source_file_compliance/organization_domains.txt
  nx_source_file_compliance/test_word_check.py
Due: source_files_compliance:test

source_file_compliance:Add flavor name "hanwha_edge1" to trademark exceptions list
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/_version.py
Due: source_files_compliance:test

Robocat: add 5.1 to the list of VMS allowed versions, remove 4.2 from the list
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-118: Robocat: Refactor - move follow-up MR creation to separate module
  automation_tools/checkers/checkers.py
  bots/robocat/robocat/merge_request_actions/followup_actions.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/rule/followup_rule.py
Due: robocat:test, workflow_police:test

INFRA-118: Robocat: Add command for setting follow-up creation mode to "Draft"
  bots/robocat/robocat/award_emoji_manager.py
  bots/robocat/robocat/commands/commands.py
  bots/robocat/robocat/commands/parser.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_actions/followup_actions.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/project_manager.py
  bots/robocat/robocat/rule/followup_rule.py
  bots/robocat/tests/commands_test.py
  bots/robocat/tests/followup_rule_test.py
Due: robocat:test

INFRA-118: Robocat: Make all forms of word follow-up used in code consistent
  automation_tools/jira.py
  automation_tools/jira_comments.py
  bots/robocat/robocat/award_emoji_manager.py
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/commands/commands.py
  bots/robocat/robocat/commands/parser.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_actions/follow_up_actions.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/project_manager.py
  bots/robocat/robocat/rule/follow_up_rule.py
  bots/robocat/robocat/rule/open_source_check_rule.py
  bots/robocat/robocat/rule/workflow_check_rule.py
  bots/robocat/tests/commands_test.py
  bots/robocat/tests/fixtures.py
  bots/robocat/tests/follow_up_rule_test.py
  bots/robocat/tests/open_source_rule_test.py
  functional_tests/mr_without_open_source_test.py
Due: robocat:test, workflow_police:test

INFRA-110: Robocat: Add aliases to commands
  bots/robocat/robocat/commands/commands.py
  bots/robocat/robocat/commands/parser.py
  bots/robocat/tests/commands_test.py
Due: robocat:test

INFRA-110: Robocat: Add help on commands to the initial message
  bots/robocat/robocat/award_emoji_manager.py
  bots/robocat/robocat/commands/commands.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/note.py
Due: robocat:test

Fix bot deploy rule: deploy new image if something changes in bot source code
  .gitlab-ci.yml
Due: none

INFRA-120: Robocat: Add mandatory approves for apidoc changes
  .gitlab-ci.yml
  automation_tools/tests/gitlab_constants.py
  automation_tools/tests/mocks/merge_request.py
  bots/robocat/chart/values.yaml
  bots/robocat/config.test.yaml
  bots/robocat/robocat/award_emoji_manager.py
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/rule/commit_message_check_rule.py
  bots/robocat/robocat/rule/helpers/approve_rule_helpers.py
  bots/robocat/robocat/rule/helpers/commit_message_checker.py
  bots/robocat/robocat/rule/helpers/nx_submodule_checker.py
  bots/robocat/robocat/rule/helpers/stateful_checker_helpers.py
  bots/robocat/robocat/rule/helpers/statefull_checker_helpers.py
  bots/robocat/robocat/rule/job_status_check_rule.py
  bots/robocat/robocat/rule/nx_submodule_check_rule.py
  bots/robocat/robocat/rule/open_source_check_rule.py
  bots/robocat/robocat/rule/workflow_check_rule.py
  bots/robocat/tests/fixtures.py
  bots/robocat/tests/job_status_check_rule_test.py
  bots/workflow_police/Dockerfile
  functional_tests/test_data/bot_config.yaml
  nx_source_file_compliance/setup.py
  scripts/open_source_check/Dockerfile
Due: robocat:test, workflow_police:test, source_files_compliance:test

source_file_compliance: Add "updates.networkoptix.com" to trademark exception list
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/_version.py
Due: source_files_compliance:test

Robocat: Fix config
  bots/robocat/chart/values.yaml
Due: robocat:test

CI-2179: source_file_compliance: Add mjs to known files
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/_version.py
Due: source_files_compliance:test

INFRA-129: Robocat: Do not require copyright line in Yaml files; check bad words in Json files
  nx_source_file_compliance/_source_file_compliance.py
Due: source_files_compliance:test

INFRA-130: Robocat: Exclude open/conan_config/ from open-source check
  nx_source_file_compliance/_vms_check_config.py
Due: source_files_compliance:test

Path conditions:
  robocat:test: any of: bots/robocat/**/*, automation_tools/**/*
  workflow_police:test: any of: bots/workflow_police/**/*, automation_tools/**/*
  source_files_compliance:test: any of: nx_source_file_compliance/**/*
