Repository networkoptix/automation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: robocat:test, workflow_police:test, source_files_compliance:test, pip:validate:nx_lint:version, pip:nx_lint:deploy

robocat:test:
  image: ${DOCKER_REGISTRY}/python:3.9
  stage: test
  variables:
    ROBOCAT_DIR: bots/robocat
    PYTHONPATH: .
  script:
  - pip3 install -r $ROBOCAT_DIR/requirements.txt
  - pytest $ROBOCAT_DIR/tests/ --junitxml=./robocat_ut_result.xml
  artifacts:
    when: always
    reports:
      junit: robocat_ut_result.xml

workflow_police:test:
  image: ${DOCKER_REGISTRY}/python:3.9
  stage: test
  variables:
    POLICE_DIR: bots/workflow_police
    PYTHONPATH: .
  script:
  - pip3 install -r $POLICE_DIR/requirements.txt
  - pytest $POLICE_DIR/tests/ --junitxml=./police_ut_result.xml
  artifacts:
    when: always
    reports:
      junit: police_ut_result.xml

source_files_compliance:test:
  image: ${DOCKER_REGISTRY}/python:3.9
  stage: test
  variables:
    PYTHONPATH: .
  script:
  - pip3 install pytest==3.5.0
  - pytest ./nx_source_file_compliance/ --junitxml=./source_files_compliance_ut_result.xml
  artifacts:
    when: always
    reports:
      junit: source_files_compliance_ut_result.xml

pip:validate:nx_lint:version:
  stage: validate
  image: python:3.9-slim-buster
  variables:
    PRODUCT: nx_lint
    PRODUCT_VERSION_FILE: nx_lint/VERSION
  before_script:
  - PRODUCT_VERSION="$(cat ${PRODUCT_VERSION_FILE})"
  script:
  - set +e
  ...

pip:nx_lint:deploy:
  image: python:3.9-slim-buster
  stage: deploy
  variables:
    PRODUCT: nx_lint
  secrets:
    ARTIFACTORY_PASSWORD:
      vault: infra/artifactory/jenkins@accounts
      file: false
  script:
  - sed -e "s|<ARTIFACTORY_URL>|${ARTIFACTORY_URL}|" -e "s|<PASSWORD>|${ARTIFACTORY_PASSWORD}|" .pypirc > ${HOME}/.pypirc
  ...

INFRA-511: Robocat: Fix typos, code style and linter warnings
  automation_tools/checkers/checkers.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/rule/helpers/stateful_checker_helpers.py
  bots/robocat/robocat/rule/workflow_check_rule.py
Due: robocat:test, workflow_police:test

INFRA-511: Robocat: Repeat workflow error messages for resolved workflow error comments
  automation_tools/tests/mocks/merge_request.py
  bots/robocat/robocat/action_reasons.py
  bots/robocat/robocat/merge_request.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/rule/helpers/stateful_checker_helpers.py
  bots/robocat/robocat/rule/workflow_check_rule.py
  bots/robocat/tests/bot_test.py
  bots/robocat/tests/workflow_check_rule_test.py
Due: robocat:test, workflow_police:test

INFRA-512: Robocat: Fix selecting unresolved comments about check errors logic
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/rule/workflow_check_rule.py
Due: robocat:test

INFRA-514: Fix allowed versions list: add 6.1 version for the VMS project
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-515: Robocat: Do not re-create discussions for non-certain workflow violations
  bots/robocat/robocat/rule/helpers/stateful_checker_helpers.py
  bots/robocat/robocat/rule/workflow_check_rule.py
Due: robocat:test

INFRA-515: Robocat: Add ignoring of another case of uncertain workflow violation
  bots/robocat/robocat/rule/workflow_check_rule.py
Due: robocat:test

INFRA-518: Robocat: Upgrade Jira python module
  requirements.txt
Due: none

INFRA-521: Robocat:: Add support for Security Issue issues
  automation_tools/jira.py
  automation_tools/jira_comments.py
  automation_tools/jira_helpers.py
  automation_tools/tests/mocks/jira.py
  bots/robocat/tests/post_processing_rule_test.py
Due: robocat:test, workflow_police:test

MOBILE-2421: Support mobile_25.2 branch
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-529: Add VMS 6.0.5 version to the list of allowed releases
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-525: Robocat: Refactor adding comments
  automation_tools/jira_comments.py
  bots/robocat/robocat/award_emoji_manager.py
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/commands/commands.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_actions/follow_up_actions.py
  bots/robocat/robocat/merge_request_actions/notify_user_actions.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/pipeline.py
  bots/robocat/robocat/project_manager.py
  bots/robocat/robocat/rule/follow_up_rule.py
  bots/robocat/robocat/rule/job_status_check_rule.py
  bots/robocat/robocat/rule/post_processing_rule.py
  bots/robocat/tests/merge_request_manager_test.py
  bots/robocat/tests/workflow_check_rule_test.py
Due: robocat:test, workflow_police:test

INFRA-525: Robocat: Check merged MR ids when deciding if to close Jira Issue
  automation_tools/jira.py
  automation_tools/jira_comments.py
  automation_tools/tests/gitlab_constants.py
  automation_tools/tests/mocks/merge_request.py
  bots/robocat/robocat/award_emoji_manager.py
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/commands/commands.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/project_manager.py
  bots/robocat/robocat/rule/job_status_check_rule.py
  bots/robocat/robocat/rule/post_processing_rule.py
  bots/robocat/tests/merge_request_manager_test.py
  bots/robocat/tests/post_processing_rule_test.py
Due: robocat:test, workflow_police:test

INFRA-536: Robocat: Log failure loading local config
  bots/robocat/robocat/bot.py
Due: robocat:test

INFRA-539: Add VMS 6.0.6 version to the list of allowed releases
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-546: Add Mobile 25.2.1 version to the list of allowed releases
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-547: Robocat, Workflow Police, jira2pb: Update Jira Python module
  nx_lint/pyproject.toml
  nx_lint/readme.md
  nx_source_file_compliance/setup.py
  requirements.txt
Due: source_files_compliance:test, pip:validate:nx_lint:version, pip:nx_lint:deploy

INFRA-550: Add VMS 6.1_patch version to the list of allowed releases
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-553: Robcat: Fix KeyError 'code_changed'
  bots/robocat/robocat/app.py
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/gitlab_events.py
Due: robocat:test

INFRA-420: Workflow Robocat: Add link to Nx Submodule documentation to related comments
  bots/robocat/robocat/comments.py
Due: robocat:test

INFRA-572: Add Mobile 26.1 version to the list of allowed releases
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-574: Rename master versions in the VMS and Mobile projects
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-581: Add 6.1.1 to the list of allowed releases
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-585: Robocat: Handle unassigned Jira issues gracefully
  automation_tools/jira.py
  automation_tools/tests/mocks/issue.py
  bots/robocat/robocat/award_emoji_manager.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/rule/workflow_check_rule.py
  bots/robocat/tests/workflow_check_rule_test.py
Due: robocat:test, workflow_police:test

INFRA-587: Add 25.2.2 mobile version support
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-582: Fix Workflow Police crash loop
  automation_tools/jira.py
  automation_tools/tests/mocks/jira.py
Due: robocat:test, workflow_police:test

INFRA-599: Robocat: Fix HTTP 400 error when merging
  bots/robocat/robocat/merge_request.py
Due: robocat:test

INFRA-607: Robocat: Avoid merging before pipeline passes in merge train
  bots/robocat/robocat/merge_request.py
Due: robocat:test

INFRA-610: Add VMSDB project allowed version sets
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-615: Robocat: Filter non-terminal job events before queueing
  bots/robocat/robocat/app.py
  bots/robocat/robocat/bot.py
  bots/robocat/tests/app_test.py
Due: robocat:test

INFRA-621: Actualize and improve workflow police bot
  automation_tools/checkers/checkers.py
  automation_tools/checkers/config.py
  automation_tools/tests/fixtures.py
  automation_tools/tests/mocks/jira.py
  bots/robocat/robocat/rule/workflow_check_rule.py
  bots/robocat/tests/bot_test.py
  bots/robocat/tests/commands_test.py
  bots/robocat/tests/follow_up_rule_test.py
  bots/robocat/tests/post_processing_rule_test.py
  bots/robocat/tests/workflow_check_rule_test.py
Due: robocat:test, workflow_police:test

INFRA-597: Robocat: Local config is not always loaded properly
  bots/robocat/robocat/bot.py
  bots/robocat/tests/bot_test.py
Due: robocat:test

Set rules for VMS 6.1.2
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-636: Robocat: Don't merge MRs prematurely
  automation_tools/tests/mocks/merge_request.py
  bots/robocat/robocat/merge_request.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/pipeline.py
  bots/robocat/tests/bot_test.py
  bots/robocat/tests/essential_rule_test.py
  bots/robocat/tests/pipeline_test.py
Due: robocat:test, workflow_police:test

INFRA-646: MDS Version 26.1
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-647: Add mobile 26.1.1 version
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-651: Move per-repo config from robocat.json into source
  bots/robocat/robocat/app.py
  bots/robocat/robocat/bot.py
  bots/robocat/tests/bot_test.py
Due: robocat:test

INFRA-674: Document per-repo config source in robocat readme
  bots/robocat/readme.md
Due: robocat:test

INFRA-669: Don't run POST_MERGE_RULES on already-merged MR
  automation_tools/tests/mocks/project.py
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/project_manager.py
  bots/robocat/tests/bot_test.py
  bots/robocat/tests/commands_test.py
  bots/robocat/tests/follow_up_rule_test.py
Due: robocat:test, workflow_police:test

INFRA-637: Robocat: False "MR merged" comments when merge trains are enabled
  bots/robocat/robocat/merge_request.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/tests/merge_train_test.py
  bots/robocat/tests/merge_unit_test.py
Due: robocat:test

INFRA-694: Set rules for VMS 6.1.3
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

Path conditions:
  robocat:test: any of: bots/robocat/**/*, automation_tools/**/*
  workflow_police:test: any of: bots/workflow_police/**/*, automation_tools/**/*
  source_files_compliance:test: any of: nx_source_file_compliance/**/*
  pip:validate:nx_lint:version: any of: nx_lint/**
  pip:nx_lint:deploy: any of: nx_lint/**, .gitlab-ci.yml
