Repository networkoptix/automation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: robocat:test, workflow_police:test, source_files_compliance:test

robocat:test:
  image: python:3.8
  stage: test
  variables:
    ROBOCAT_DIR: bots/robocat
    PYTHONPATH: .
  script:
  - pip3 install -r $ROBOCAT_DIR/requirements.txt
  - pytest $ROBOCAT_DIR/tests/ --junitxml=./robocat_ut_result.xml
  artifacts:
    when: always
    reports:
      junit: robocat_ut_result.xml

workflow_police:test:
  image: python:3.8
  stage: test
  variables:
    POLICE_DIR: bots/workflow_police
    PYTHONPATH: .
  script:
  - pip3 install -r $POLICE_DIR/requirements.txt
  - pytest $POLICE_DIR/tests/ --junitxml=./police_ut_result.xml
  artifacts:
    when: always
    reports:
      junit: police_ut_result.xml

source_files_compliance:test:
  image: python:3.8
  stage: test
  variables:
    PYTHONPATH: .
  script:
  - pip3 install pytest==3.5.0
  - pytest ./nx_source_file_compliance/ --junitxml=./source_files_compliance_ut_result.xml
  artifacts:
    when: always
    reports:
      junit: source_files_compliance_ut_result.xml

Source file compliance library: Fix _check_words() call parameters _check_no_bad_words()
  nx_source_file_compliance/_source_file_compliance.py
Due: source_files_compliance:test

Robocat: Fix error in commit message checker
  bots/robocat/robocat/rule/commit_message_check_rule.py
  bots/robocat/robocat/rule/helpers/commit_message_checker.py
Due: robocat:test

Workflow Police: Fix config (change related_project_id to correct one)
  bots/workflow_police/chart/values.yaml
  bots/workflow_police/config.test.yaml
Due: workflow_police:test

CI-1783: Use vault secrets in the gitlab CI
  .gitlab-ci.yml
Due: none

Fix typo in the .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

CI-1783: Fix non-file secrets
  .gitlab-ci.yml
Due: none

CI-1783: Fix wrong secret paths
  .gitlab-ci.yml
Due: none

Set "master" version mandatory for 22.1 mobile branch
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

Improve error messages for bad words check
  bots/robocat/robocat/rule/helpers/commit_message_checker.py
  bots/robocat/tests/commit_message_rule_test.py
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/setup.py
Due: robocat:test, source_files_compliance:test

VMS-30760: Add open-source-checker Docker image for CI
  .gitlab-ci.yml
  scripts/open_source_check/Dockerfile
Due: none

Improve open_source_check.py
  scripts/open_source_check/open_source_check.py
Due: none

source_file_compliance: Add trademark exception for lines containing "sei"
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/setup.py
  nx_source_file_compliance/test_word_check.py
Due: source_files_compliance:test

Change default gitlab url and add tags to CI jobs
  .gitlab-ci.yml
  automation_tools/tests/mocks/jira.py
  bots/robocat/config.test.yaml
  bots/robocat/python-gitlab.cfg.example
  bots/workflow_police/README.md
  bots/workflow_police/config.test.yaml
  functional_tests/test_data/bot_config.yaml
  scripts/fix_issues_with_new_branch/fix_issues_with_new_branch.py
Due: robocat:test, workflow_police:test

Robocat: Improve open-source and commit checker error messages
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/rule/helpers/commit_message_checker.py
  bots/robocat/robocat/rule/helpers/open_source_file_checker.py
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/setup.py
Due: robocat:test, source_files_compliance:test

Workflow Police: Add CLOUD project to the list of projects affected by "done_externally" label
  bots/workflow_police/chart/values.yaml
  bots/workflow_police/config.test.yaml
Due: workflow_police:test

source_file_compliance: Add trademark exception `sub_pic_cpb_params_in_pic_timing_sei_flag`
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/setup.py
Due: source_files_compliance:test

source_file_compliance: fixes
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/_vms_check_config.py
  nx_source_file_compliance/setup.py
Due: source_files_compliance:test

open-source-checker: Remove explicit TARGET_IMAGE_TAG
  .gitlab-ci.yml
Due: none

Add 5.2_patch to allowed versions
  automation_tools/checkers/config.py
  automation_tools/tests/gitlab_constants.py
  automation_tools/tests/mocks/jira.py
  automation_tools/tests/mocks/project.py
  bots/robocat/tests/bot_test.py
  bots/robocat/tests/followup_rule_test.py
  bots/robocat/tests/workflow_check_rule_test.py
  bots/workflow_police/chart/values.yaml
  bots/workflow_police/config.test.yaml
  bots/workflow_police/tests/bot_test.py
  bots/workflow_police/tests/fixtures.py
  bots/workflow_police/tests/workflow_checker_test.py
  functional_tests/mr_without_open_source_test.py
Due: robocat:test, workflow_police:test

Robocat: Improve user search by username: return the first active user if more than one is found
  automation_tools/tests/mocks/user.py
  bots/robocat/robocat/gitlab.py
Due: robocat:test, workflow_police:test

VMS-38760: Robocat: Use pipeline jobs to detect open-source problems
  automation_tools/tests/gitlab_constants.py
  automation_tools/tests/mocks/merge_request.py
  automation_tools/tests/mocks/pipeline.py
  bots/robocat/robocat/award_emoji_manager.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/pipeline.py
  bots/robocat/robocat/rule/commit_message_check_rule.py
  bots/robocat/robocat/rule/essential_rule.py
  bots/robocat/robocat/rule/helpers/approve_rule_helpers.py
  bots/robocat/robocat/rule/helpers/open_source_file_checker.py
  bots/robocat/robocat/rule/nx_submodule_check_rule.py
  bots/robocat/robocat/rule/open_source_check_rule.py
  bots/robocat/tests/bot_test.py
  bots/robocat/tests/commit_message_rule_test.py
  bots/robocat/tests/open_source_rule_test.py
Due: robocat:test, workflow_police:test

Allow custom Project-specific statuses for Jira Issues
  automation_tools/checkers/checkers.py
  automation_tools/jira.py
  automation_tools/jira_helpers.py
  automation_tools/tests/fixtures.py
  automation_tools/tests/gitlab_constants.py
  automation_tools/tests/mocks/jira.py
  bots/robocat/config.test.yaml
  bots/robocat/tests/followup_rule_test.py
  bots/workflow_police/chart/values.yaml
  bots/workflow_police/config.test.yaml
  bots/workflow_police/tests/bot_test.py
Due: robocat:test, workflow_police:test

Robocat: Add missing ExecutionResult constant in open_source_check_rule.py
  bots/robocat/robocat/rule/open_source_check_rule.py
Due: robocat:test

Robocat: Fix bugs in open-source check rule
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/pipeline.py
  bots/robocat/robocat/rule/open_source_check_rule.py
Due: robocat:test

Mobile 22.2 version checks
  automation_tools/checkers/config.py
  automation_tools/tests/mocks/jira.py
  bots/workflow_police/tests/fixtures.py
  bots/workflow_police/tests/workflow_checker_test.py
Due: robocat:test, workflow_police:test

Workflow Police: Fix inconsistent types in JiraAccessor class
  automation_tools/jira.py
  bots/workflow_police/police/app.py
Due: robocat:test, workflow_police:test

Workflow Police: Remove excessive closing bracket in Issue search expression
  automation_tools/jira.py
Due: robocat:test, workflow_police:test

Fetch remotes without tags
  automation_tools/git.py
  automation_tools/tests/mocks/git_mocks.py
  bots/workflow_police/police/app.py
Due: robocat:test, workflow_police:test

Fix adding arguments to git fetch
  automation_tools/git.py
Due: robocat:test, workflow_police:test

Open-source checker: Rebuild docker image whe .gitlab-ci.rml changes
  .gitlab-ci.yml
Due: none

source_file_compliance: Fix typo in trademark exception regex
  nx_source_file_compliance/_source_file_compliance.py
Due: source_files_compliance:test

source_file_compliance: Add source_file_compliacnce library version to script help output
  nx_source_file_compliance/__init__.py
  nx_source_file_compliance/_version.py
  nx_source_file_compliance/setup.py
  scripts/open_source_check/open_source_check.py
Due: source_files_compliance:test

Renamed branch mobile_22.2 to mobile_22.3
  automation_tools/checkers/config.py
  automation_tools/tests/mocks/jira.py
  bots/workflow_police/tests/fixtures.py
  bots/workflow_police/tests/workflow_checker_test.py
Due: robocat:test, workflow_police:test

source_file_compliance: Add "*.json.template" to exceptions for VMS repository
  nx_source_file_compliance/_vms_check_config.py
Due: source_files_compliance:test

CI-1910: Make GITLAB_API_TOKEN a regular secret
  .gitlab-ci.yml
Due: none

open_source_checker: Build Docker image only when merging MR in master
  .gitlab-ci.yml
Due: none

Added mobile 22.4 version
  automation_tools/checkers/config.py
  automation_tools/tests/mocks/jira.py
  bots/workflow_police/tests/fixtures.py
  bots/workflow_police/tests/workflow_checker_test.py
Due: robocat:test, workflow_police:test

CI-1925: Add service endpoint to Robocat deployment
  .gitlab-ci.yml
  bots/robocat/chart/templates/deployment.yaml
  bots/robocat/chart/templates/service.yaml
  bots/robocat/chart/values.yaml
Due: robocat:test

Add VMS 5.1 to the list of the allowed version sets
  automation_tools/checkers/config.py
  automation_tools/tests/gitlab_constants.py
  automation_tools/tests/mocks/jira.py
  automation_tools/tests/mocks/project.py
  bots/robocat/tests/bot_test.py
  bots/robocat/tests/followup_rule_test.py
  bots/robocat/tests/workflow_check_rule_test.py
  bots/workflow_police/chart/values.yaml
  bots/workflow_police/config.test.yaml
  bots/workflow_police/tests/bot_test.py
  bots/workflow_police/tests/fixtures.py
  bots/workflow_police/tests/workflow_checker_test.py
  functional_tests/mr_without_open_source_test.py
Due: robocat:test, workflow_police:test

INFRA-93: Robocat: Switch from polling to event-driven model
  bots/robocat/chart/templates/deployment.yaml
  bots/robocat/chart/values.yaml
  bots/robocat/requirements.txt
  bots/robocat/robocat/app.py
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/merge_request_manager.py
  bots/robocat/robocat/project_manager.py
  bots/robocat/robocat/rule/essential_rule.py
  functional_tests/mr_with_open_source_test.py
Due: robocat:test

Path conditions:
  robocat:test: any of: bots/robocat/**/*, automation_tools/**/*
  workflow_police:test: any of: bots/workflow_police/**/*, automation_tools/**/*
  source_files_compliance:test: any of: nx_source_file_compliance/**/*
