Repository networkoptix/automation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: robocat:test, workflow_police:test, source_files_compliance:test

robocat:test:
  image: ${DOCKER_REGISTRY}/python:3.8
  stage: test
  tags:
  - service
  variables:
    ROBOCAT_DIR: bots/robocat
    PYTHONPATH: .
  script:
  - pip3 install -r $ROBOCAT_DIR/requirements.txt
  - pytest $ROBOCAT_DIR/tests/ --junitxml=./robocat_ut_result.xml
  artifacts:
    when: always
    reports:
  ...

workflow_police:test:
  image: ${DOCKER_REGISTRY}/python:3.8
  stage: test
  tags:
  - service
  variables:
    POLICE_DIR: bots/workflow_police
    PYTHONPATH: .
  script:
  - pip3 install -r $POLICE_DIR/requirements.txt
  - pytest $POLICE_DIR/tests/ --junitxml=./police_ut_result.xml
  artifacts:
    when: always
    reports:
  ...

source_files_compliance:test:
  image: ${DOCKER_REGISTRY}/python:3.8
  stage: test
  tags:
  - service
  variables:
    PYTHONPATH: .
  script:
  - pip3 install pytest==3.5.0
  - pytest ./nx_source_file_compliance/ --junitxml=./source_files_compliance_ut_result.xml
  artifacts:
    when: always
    reports:
  ...

INFRA-132: Robocat: Add #mshevchenko to API Keepers
  bots/robocat/chart/values.yaml
Due: robocat:test

INFRA-131: Robocat: Fix empty line check when it is required after last line
  nx_source_file_compliance/_source_file_compliance.py
Due: source_files_compliance:test

INFRA-121: Do not set Draft status if follow-up has conflicts
  bots/robocat/robocat/merge_request.py
  bots/robocat/robocat/project_manager.py
  bots/robocat/tests/follow_up_rule_test.py
Due: robocat:test

INFRA-138: source_file_compliance: Add "dw_edge2" to allowed words
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/_version.py
Due: source_files_compliance:test

INFRA-139: Workflow Police: Fix processing of Issues with "done_externally" label
  automation_tools/checkers/checkers.py
  bots/workflow_police/tests/bot_test.py
  bots/workflow_police/tests/workflow_checker_test.py
Due: robocat:test, workflow_police:test

VMS-38512: Remove 4.2_patch from the list of allowed VMS versions
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-140: Robocat: Fix keepers assignment algorithm
  automation_tools/tests/gitlab_constants.py
  bots/robocat/robocat/rule/job_status_check_rule.py
  bots/robocat/tests/fixtures.py
  bots/robocat/tests/job_status_check_rule_test.py
Due: robocat:test, workflow_police:test

INFRA-137: Robocat: Create follow-up in response to user command even for follow-up MRs
  bots/robocat/robocat/award_emoji_manager.py
  bots/robocat/robocat/commands/commands.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/rule/follow_up_rule.py
  bots/robocat/tests/follow_up_rule_test.py
Due: robocat:test

INFRA-133: Robocat: Fix typo in command help
  bots/robocat/robocat/commands/commands.py
Due: robocat:test

INFRA-148: Update configuration of nx_submodules integrity check
  bots/robocat/chart/values.yaml
  bots/robocat/config.test.yaml
Due: robocat:test

open_source_check: Add dummy parameter --config for compatibility with future version
  scripts/open_source_check/open_source_check.py
Due: none

INFRA-146: source_file_compliance: Change library interface
  bots/robocat/robocat/rule/helpers/approve_rule_helpers.py
  nx_source_file_compliance/__init__.py
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/_version.py
  scripts/open_source_check/open_source_check.py
Due: robocat:test, source_files_compliance:test

INFRA-146: source_file_compliance: Read repo-specific configuration from json file
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/rule/commit_message_check_rule.py
  bots/robocat/robocat/rule/helpers/approve_rule_helpers.py
  bots/robocat/robocat/rule/job_status_check_rule.py
  bots/robocat/tests/fixtures.py
  bots/robocat/tests/open-source-checker-config.json
  nx_source_file_compliance/__init__.py
  nx_source_file_compliance/_generic_repo_check_config.py
  nx_source_file_compliance/_repo_check_config.py
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/_version.py
  nx_source_file_compliance/_vms_check_config.py
  scripts/open_source_check/open_source_check.py
Due: robocat:test, source_files_compliance:test

open_source_check.py: Fix working with omitted --config parameter
  scripts/open_source_check/open_source_check.py
Due: none

INFRA-150: source_file_compliance: Add Dockerfile to checked files
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/_version.py
Due: source_files_compliance:test

CI-2229: Robocat: Inform user about first pipeline job failure leading to failed pipeline
  bots/robocat/robocat/app.py
  bots/robocat/robocat/award_emoji_manager.py
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_actions/notify_user_actions.py
  bots/robocat/robocat/note.py
  bots/robocat/robocat/pipeline.py
  bots/robocat/robocat/project_manager.py
  bots/robocat/tests/commands_test.py
  bots/robocat/tests/follow_up_rule_test.py
Due: robocat:test

Robocat: Fix event processing error - all events were processed by comment event processor
  bots/robocat/robocat/bot.py
Due: robocat:test

INFRA-154: open_source_check: Add default value for --config and --repo-dir options
  scripts/open_source_check/open_source_check.py
Due: none

INFRA-152: source_compliance_library: Allow optional shebang in files of some types
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/_version.py
Due: source_files_compliance:test

MOBILE-1665: Added mobile_23.1 branch
  automation_tools/checkers/config.py
  automation_tools/tests/mocks/jira.py
  bots/workflow_police/tests/fixtures.py
  bots/workflow_police/tests/workflow_checker_test.py
Due: robocat:test, workflow_police:test

open_source_check.py: Add default configuration file (with vms repo settings) to the Docker image
  scripts/open_source_check/Dockerfile
  scripts/open_source_check/open_source_check.py
  scripts/open_source_check/open_source_check_config.json
Due: none

Add 5.1_patch VMS branch to allowed version sets
  automation_tools/checkers/checkers.py
  automation_tools/checkers/config.py
  automation_tools/tests/mocks/jira.py
  bots/robocat/tests/workflow_check_rule_test.py
  bots/workflow_police/police/app.py
  bots/workflow_police/tests/bot_test.py
  bots/workflow_police/tests/fixtures.py
  bots/workflow_police/tests/workflow_checker_test.py
Due: robocat:test, workflow_police:test

Remove compatibility block
  automation_tools/checkers/config.py
  bots/workflow_police/tests/fixtures.py
  bots/workflow_police/tests/workflow_checker_test.py
Due: robocat:test, workflow_police:test

INFRA-146: Use default source_file_compliance check config in check rules
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/rule/commit_message_check_rule.py
  bots/robocat/robocat/rule/helpers/approve_rule_helpers.py
  bots/robocat/robocat/rule/job_status_check_rule.py
  bots/robocat/tests/fixtures.py
  bots/robocat/tests/open-source-checker-config.json
Due: robocat:test

INFRA-146: source_file_compliance: Add default repo config, containing only directories to check
  nx_source_file_compliance/__init__.py
  nx_source_file_compliance/_repo_check_config.py
  nx_source_file_compliance/_version.py
Due: source_files_compliance:test

Workflow Police: Separate production version set checker config from test one
  bots/workflow_police/tests/fixtures.py
Due: workflow_police:test

INFRA-160: source_file_compliance: Remove Sei from trademark list
  nx_source_file_compliance/_source_file_compliance.py
  nx_source_file_compliance/_version.py
  nx_source_file_compliance/organization_domains.txt
Due: source_files_compliance:test

Use US DC runner by default for all processes
  .gitlab-ci.yml
Due: none

open_source_check: Remove obsolete code
  scripts/open_source_check/open_source_check.py
Due: none

MOBILE-1690: Added branch mobile_23.2 support
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

open_source_check: Improve output messages in open_source_check.py
  scripts/open_source_check/open_source_check.py
Due: none

CI-2376: open_source_check: Add script for checking if files should be checked for compliance
  scripts/open_source_check/Dockerfile
  scripts/open_source_check/no_checkable_open_source_files_check.py
Due: none

CI-2326: Fix - add GRAYLOG_URL variable
  .gitlab-ci.yml
  deployment/values.yaml.j2
Due: none

Add 6.0 to the list of allowed VMS versions
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

Add patch version sets to the list of allowed versions
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

Make 6.0 fix version mandatory for all commited issues
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

Robocat: Remove unnecessary import
  bots/robocat/robocat/rule/workflow_check_rule.py
Due: robocat:test

Robocat: Separate production version set checker config from test one
  bots/robocat/tests/fixtures.py
Due: robocat:test

Add new script for searching problematic Jira Issues before adding new branch to repository
  automation_tools/git.py
  scripts/fix_issues_with_new_branch/find_issues_without_previous_version.py
Due: robocat:test, workflow_police:test

INFRA-163: open_source_check: Fix crash on empty files
  nx_source_file_compliance/_source_file_compliance.py
Due: source_files_compliance:test

Path conditions:
  robocat:test: any of: bots/robocat/**/*, automation_tools/**/*
  workflow_police:test: any of: bots/workflow_police/**/*, automation_tools/**/*
  source_files_compliance:test: any of: nx_source_file_compliance/**/*
