Repository networkoptix/automation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: robocat:test, workflow_police:test, source_files_compliance:test

robocat:test:
  image: ${DOCKER_REGISTRY}/python:3.8
  stage: test
  tags:
  - service
  variables:
    ROBOCAT_DIR: bots/robocat
    PYTHONPATH: .
  script:
  - pip3 install -r $ROBOCAT_DIR/requirements.txt
  - pytest $ROBOCAT_DIR/tests/ --junitxml=./robocat_ut_result.xml
  artifacts:
    when: always
    reports:
  ...

workflow_police:test:
  image: ${DOCKER_REGISTRY}/python:3.8
  stage: test
  tags:
  - service
  variables:
    POLICE_DIR: bots/workflow_police
    PYTHONPATH: .
  script:
  - pip3 install -r $POLICE_DIR/requirements.txt
  - pytest $POLICE_DIR/tests/ --junitxml=./police_ut_result.xml
  artifacts:
    when: always
    reports:
  ...

source_files_compliance:test:
  image: ${DOCKER_REGISTRY}/python:3.8
  stage: test
  tags:
  - service
  variables:
    PYTHONPATH: .
  script:
  - pip3 install pytest==3.5.0
  - pytest ./nx_source_file_compliance/ --junitxml=./source_files_compliance_ut_result.xml
  artifacts:
    when: always
    reports:
  ...

INFRA-200: Robocat: Rename param "sha" to "ref"
  bots/robocat/robocat/project.py
  bots/robocat/robocat/project_manager.py
  bots/robocat/robocat/rule/helpers/nx_submodule_checker.py
Due: robocat:test

Robocat: Fix environment variable name in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

INFRA-200: Robocat: Collect generator to dict
  bots/robocat/robocat/bot.py
Due: robocat:test

Robocat: Fix name of environment variable name used for specifying service name in log
  bots/robocat/robocat/app.py
Due: robocat:test

INFRA-200: Robocat: Ensure that service name is set in env
  bots/robocat/robocat/bot.py
Due: robocat:test

Bots: Remove pip:validate:nx_lint:version job from manual deployment pipeline
  .gitlab-ci.yml
Due: none

Robocat: Fix bug with inability to start without repo config
  bots/robocat/robocat/bot.py
Due: robocat:test

INFRA-200: Robocat: Use merged config when creating the rules
  bots/robocat/robocat/bot.py
Due: robocat:test

INFRA-202: Robocat: Show pipeline number as link
  bots/robocat/robocat/comments.py
  bots/robocat/robocat/merge_request_manager.py
Due: robocat:test

INFRA-196: Robocat: Deploy instance for tools repo
  .gitlab-ci.yml
Due: none

Deployment: Support separate manual deployment for Robocat and Police
  .gitlab-ci.yml
Due: none

INFRA-208: CI: Add open source checks
  .gitlab-ci.yml
Due: none

Robocat: Increase liveness probe timeout to prevent restarting byt k8s
  bots/robocat/chart/templates/statefulset.yaml
Due: robocat:test

INFRA-211: Robocat: Fix error in initializing automation_tools.git.Repo
  automation_tools/git.py
Due: robocat:test, workflow_police:test

INFRA-210: Robocat: Deploy instance for cloud_portal repo
  .gitlab-ci.yml
Due: none

INFRA-214: Robocat: Ensure k8s service name compliance
  deployment/inventory-master.yml
Due: none

INFRA-216: Add curl & jq to repo_checker_image
  .gitlab-ci.yml
  repo_checker_image/Dockerfile
  scripts/open_source_check/Dockerfile
Due: none

INFRA-213: Initial commit to open-source part
  readme.md
Due: none

INFRA-327: nx_lint: Correctly capitalize help text
  nx_lint/nx_lint/argument_parser.py
Due: none

INFRA-431: Robocat: Fix test data
  automation_tools/tests/mocks/data/repo1/1/2.sh
  bots/robocat/tests/nx_submodule_check_rule_test.py
Due: robocat:test, workflow_police:test

INFRA-433: Robocat: Add ability to skip follow-ups based on rules for Issue titles
  bots/robocat/robocat/config.py
  bots/robocat/robocat/rule/follow_up_rule.py
  bots/robocat/tests/follow_up_rule_test.py
Due: robocat:test

INFRA-435: Robocat: Fix unhandled exception while attempting to remove code owner approval
  bots/robocat/robocat/bot.py
Due: robocat:test

INFRA-439: nx_lint: Fix install instructions in readme.md
  nx_lint/readme.md
Due: none

INFRA-437: Robocat: Do not warn about workflow violation when finalizing Issue finalized by bot
  automation_tools/jira.py
Due: robocat:test, workflow_police:test

INFRA-442: Robocat: Add possibility to skip applying any rule based on Merge Request title
  bots/robocat/robocat/config.py
  bots/robocat/robocat/rule/base_rule.py
  bots/robocat/robocat/rule/commit_message_check_rule.py
  bots/robocat/robocat/rule/essential_rule.py
  bots/robocat/robocat/rule/follow_up_rule.py
  bots/robocat/robocat/rule/job_status_check_rule.py
  bots/robocat/robocat/rule/nx_submodule_check_rule.py
  bots/robocat/robocat/rule/post_processing_rule.py
  bots/robocat/robocat/rule/process_related_projects_issues.py
  bots/robocat/robocat/rule/workflow_check_rule.py
  bots/robocat/tests/essential_rule_test.py
  bots/robocat/tests/workflow_check_rule_test.py
Due: robocat:test

INFRA-444: Robocat: Remove obsoleted ProcessRelatedProjectIssuesRule
  bots/robocat/robocat/bot.py
  bots/robocat/robocat/config.py
  bots/robocat/robocat/rule/__init__.py
  bots/robocat/robocat/rule/process_related_projects_issues.py
  bots/robocat/tests/fixtures.py
  bots/robocat/tests/process_related_projects_issues_test.py
  config_examples/robocat_config.yaml
Due: robocat:test

Fix allowed versions list: add 6.0.2 version for the VMS project
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

Fix allowed versions list: add mobile branch to the full branches list
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-429: Robocat: Allow using "process" command on merged MRs
  bots/robocat/robocat/bot.py
  bots/robocat/tests/bot_test.py
  bots/robocat/tests/commands_test.py
Due: robocat:test

INFRA-453: Robocat: Fix identifier of NxSubmoduleCheckRule
  bots/robocat/robocat/rule/nx_submodule_check_rule.py
Due: robocat:test

INFRA-456: Open Source: Update open-source part readme.md
  readme.md
Due: none

Fix allowed versions list: add 6.0.3 version for the VMS project
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

Improve a comment
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-479: Improve Robocat error message when version set is not allowed
  automation_tools/checkers/checkers.py
  automation_tools/checkers/config.py
  bots/robocat/tests/fixtures.py
Due: robocat:test, workflow_police:test

INFRA-501: Robocat: Add fixes for working with Python version 3.12
  bots/robocat/robocat/merge_request.py
  requirements.txt
Due: robocat:test

INFRA-501: Robocat: Re-work approval/unapproval functions
  bots/robocat/robocat/merge_request.py
  bots/robocat/robocat/merge_request_manager.py
Due: robocat:test

INFRA-507: Fix allowed versions list: add 6.0.4 version for the VMS project
  automation_tools/checkers/config.py
Due: robocat:test, workflow_police:test

INFRA-508: Robocat: Fix processing of approve/unapprove exceptions
  bots/robocat/robocat/merge_request.py
Due: robocat:test

Path conditions:
  robocat:test: any of: bots/robocat/**/*, automation_tools/**/*
  workflow_police:test: any of: bots/workflow_police/**/*, automation_tools/**/*
  source_files_compliance:test: any of: nx_source_file_compliance/**/*
